@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--font-family: 'Poppins', sans-serif;
	--font-size: 1.6rem;
	--font-100: 100;
	--font-200: 200;
	--font-300: 300;
	--font-400: 400;
	--font-500: 500;
	--font-600: 600;
	--font-700: 700;
	--font-800: 800;

	/* dark */
	--color-primary: #0f3057;
	--color-primary-light: rgba(137, 194, 243, 0.3);
	--color-primary-hover: #091a2e;
	--color-secondary: #ea5455;
	--color-secondary-50: rgba(234, 84, 84, 0.5);
	--color-secondary-hover: #c24040;
	--color-dark: #1b262c;
	--color-dark-hover: #1f333d;
	--color-light: #f9f9f9;
	--color-light-50: rgba(249, 249, 249, 0.5);
	--color-red: #fa4040;
}

::-webkit-scrollbar {
	background: rgba(137, 194, 243, 0.3);
	width: 0.6rem;
	height: 0.4rem;
}
::-webkit-scrollbar-track {
	border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(
		125deg,
		var(--color-secondary-50),
		var(--color-dark-hover)
	);
	border-radius: 0.5rem;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	background: var(--color-dark-hover);
	color: var(--color-light);
	font-weight: var(--font-200);
}

img {
	display: block;
}

section {
	padding: 1.6rem;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

main {
	padding: 1rem;
}

.center {
	margin: 0 auto;
	margin-top: 2rem;
}

.flex {
	display: flex;
	justify-content: center;
}

.title {
	display: flex;
	align-items: center;
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.title span {
	color: var(--color-secondary);
	font-size: 3.5rem;
}

.enlace,
p span {
	color: var(--color-secondary);
	font-weight: var(--font-400);
	transition: 0.3s linear;
}
.enlace:hover {
	text-decoration: underline;
}

.button {
	width: 15rem;
	padding: 1rem 0;
	background: var(--color-primary);
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	color: var(--color-light);
	transition: 0.3s linear;
	box-shadow: 0 0 1rem 0 var(--color-light-50);
	font-size: 1.4rem;
}
.button:hover {
	background: var(--color-primary-hover);
	box-shadow: 0 0 0.5rem 0 transparent;
}
.button img,
.button svg {
	width: 2.5rem;
	height: 2.5rem;
	-o-object-fit: contain;
	object-fit: contain;
}
.button-primary {
	background: var(--color-secondary);
}
.button-primary:hover {
	background: var(--color-secondary-hover);
}

.w-25 {
	width: 25rem;
}

/* menu icon */
.menu__icon {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	height: 5rem;
	width: 5rem;
	background: var(--color-primary);
	border-radius: 50%;
	box-shadow: 0 0 1rem 0 var(--color-light-50);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
}
.menu__icon img {
	height: 3rem;
	width: 3rem;
	-o-object-fit: contain;
	object-fit: contain;
}
/* menu icon */

/* header */
.header {
	width: 100%;
	max-width: 32rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--color-primary-hover);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 6rem;
	padding: 2rem;
	transition: 0.3s ease-in;
	-webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	transform-origin: left center;
	z-index: 5;
}
.header.active {
	-webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.header__cv {
	position: fixed;
	left: -1rem;
	top: 2rem;
	width: 20rem;
	height: 5rem;
	-webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 0 0);
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 0 0);
	background: var(--color-light);
	transition: 0.3s linear;
}
.header__cv:hover {
	left: 0;
}
.header__cv a {
	height: 100%;
	width: calc(100% - 5rem);
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-primary-hover);
	font-weight: var(--font-700);
	text-transform: uppercase;
	font-size: 1.4rem;
}

.header__info {
	display: none;
}

.header__social {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;
	order: 4;
}
.header__social .header__social--item {
	height: 4.2rem;
	width: 4.2rem;
	background: var(--color-primary);
	border-radius: 50%;
	box-shadow: 0 0 1rem 0 var(--color-primary-light);
}
.header__social--item a {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__social--item a img {
	height: 2.3rem;
	width: 2.3rem;
	-o-object-fit: contain;
	object-fit: contain;
}

.header__nav {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	margin-top: 6rem;
}
.header__nav--item a {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: var(--color-light);
	font-weight: var(--font-500);
	transition: 0.3s linear;
}
.header__nav--item a img {
	height: 3rem;
}
.header__nav--item a:hover img {
	transform: scale(1.2);
}
.header__nav--item a img {
	margin-bottom: 0.5rem;
	transition: 0.3s linear;
}
/* header */

/* presentacion */
.presentation {
	position: relative;
}
.presentation__title {
	font-size: 3.3rem;
	margin-bottom: 0.5rem;
	font-weight: var(--font-800);
}
.presentation__info {
	font-weight: var(--font-300);
	margin-top: -0.5rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
	font-size: 1.7rem;
}
.presentation__portada {
	margin-top: -4rem;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
.presentation__portada img {
	height: 30rem;
}
.presentation__description {
	margin-bottom: 3rem;
	line-height: 2.5rem;
}
.presentation__description span {
	color: var(--color-secondary);
	font-weight: var(--font-400);
	text-shadow: 0 0 0.15rem var(--color-light-50);
}
.presentation__description span.bold {
	font-weight: var(--font-600);
	color: var(--color-light);
}
.presentation__enlaces {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}
/* presentacion */

/* about */
.about__description a {
	color: var(--color-secondary);
}
/* about */

/* skills */
section.skills {
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 4rem;
	row-gap: 4rem;
}
.skill {
	width: 100%;
}
.skill__images {
	display: flex;
	align-items: center;
	-moz-column-gap: 2rem;
	column-gap: 2rem;
}
.skill__images svg {
	height: 4rem;
}
.skill__images svg.express-logo {
	height: 3.5rem;
}
.skill__images svg.mysql-logo {
	-webkit-filter: drop-shadow(0 0 0.3rem var(--color-primary-light));
	filter: drop-shadow(0 0 0.3rem var(--color-primary-light));
}
.skill__titles {
	margin: 1rem 0;
}
.skill__description span {
	font-weight: var(--font-400);
}
.skill__description span.sass {
	color: #bf6b97;
}
.skill__description span.bootstrap {
	color: #563d7c;
}
.skill__description span.react {
	color: #62d4fa;
}
/* skills */

/* feature */
.feature__list {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
.feature__list--item {
	position: relative;
	padding-left: 3rem;
	display: flex;
	align-items: center;
}
.feature__list--item::before {
	content: '';
	position: absolute;
	left: 0;
	height: 2rem;
	width: 2rem;
	border-radius: 0.3rem;
	background: var(--color-secondary);
}
/* feature */

/* work */
.portafolio__filtro {
	margin-top: 2rem;
	width: 100%;
}
.filtro__container {
	background: var(--color-primary-light);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
}
.filtro__container--item {
	position: relative;
	cursor: pointer;
}
.filtro__container--item.active {
	color: #000;
	font-weight: var(--font-500);
	text-shadow: 0 0 0.3rem var(--color-dark-hover);
	transition: .3s linear;
	transform-origin: top left;
}
.filtro__container--item.active::before {
	content: '';
	position: absolute;
	top: 102%;
	left: -10%;
	width: 120%;
	height: 0.5rem;
	background: var(--color-dark);
	border-radius: 0.3rem;
}
.work {
	position: relative;
	height: 30rem;
	overflow: hidden;
	border-radius: 1rem;
	animation: showWork linear 1s;
	transform-origin: center;
}
@keyframes showWork {
	from {
		opacity: 0;
		transform: scale(0);
	}
	85% {
		transform: scale(1.1);
	}
	to {
		
		opacity: 1;
	}
}
.work:hover .work__image img {
	transform: scale(1.5) rotate(25deg);
}
.work__image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.work__image img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transition: 0.4s ease-in;
	transform-origin: center;
}
.work__info {
	width: 100%;
	height: 100%;
	padding: 2rem;
	position: relative;
	background: rgba(14, 19, 26, 0.7);
	overflow: hidden;
}
.badges {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 1rem;
}
.badge {
	background: #000;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	font-weight: var(--font-400);
}
.badge__text--dark {
	color: #000;
}
.badge__node {
	background: #54b689;
}
.badge__express {
	background: #eee;
}
.badge__html {
	background: #de6e3c;
}
.badge__css {
	background: #53a7dc;
}
.badge__js {
	background: #f1de4f;
}
.badge__php {
	background: #777baf;
}
.badge__react {
	background: #62d4fa;
}
.badge__sass {
	background: #bf6b97;
}
.badge__bootstrap {
	background: #563d7c;
}
.badge__mongo {
	background: #58aa50;
}
.badge__mysql {
	background: #00546b;
}
.badge__firebase {
	background: #fcca3f;
}
.work__info--title {
	font-size: 1.8rem;
}
.work__info--description {
	font-size: 1.4rem;
	margin: 2rem 0;
}
.work__info--buttons {
	display: flex;
	flex-wrap: wrap;
}
.work__info--buttons a {
	box-shadow: initial;
	width: 45%;
}
.work__info--buttons a:first-child {
	margin-right: 2rem;
}
/* work */

/* resumen */
.cv {
	margin-top: 4rem;
	background: var(--color-light);
	border-radius: 0.8rem;
	color: #000;
	font-weight: var(--font-300);
	background: rgb(225, 220, 255);
}
.cv__header {
	position: relative;
	background: url('../images/bg_header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 2rem 1rem 35rem;
}
.cv__header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(27, 38, 44, 0.7);
}
.cv__header--content {
	position: relative;
	color: #fff;
}
.cv__header--content h1 {
	color: var(--color-red);
	text-align: center;
	text-shadow: 0.1rem 0.5rem 1rem var(--color-secondary-50);
	letter-spacing: 0.2rem;
}
.cv__header--content p {
	font-weight: var(--font-400);
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 2rem;
}
.cv__header--content span {
	font-weight: var(--font-600);
}
.cv__header--info {
	position: absolute;
	left: 50%;
	top: 42%;
	transform: translateX(-50%);
	background: #efefef;
	width: 90%;
	padding: 2rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem 0 #cfcfcf;
}
.info__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
	margin-bottom: 2rem;
}
.info__header--perfil {
	height: 15rem;
	width: 15rem;
	overflow: hidden;
	border-radius: 50%;
}
.info__header--perfil img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.info__header--name {
	color: var(--color-primary);
	font-size: 2rem;
	font-weight: var(--font-600);
}
.info__header--name span {
	color: var(--color-red);
}
.info__content {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.info__content--item {
	display: flex;
	font-size: 1.2rem;
	font-weight: var(--font-300);
	color: #000;
	column-gap: 1rem;
}
.info__content--item svg {
	height: 2rem;
	width: 2rem;
}
.cv__title {
	color: var(--color-red);
	margin-bottom: 2rem;
	font-size: 1.6rem;
}
.cv p span {
	color: var(--color-red);
}
.cv__experience {
	margin-top: 10rem;
	padding: 2rem;
}
.cv__experience--section {
	position: relative;
	padding-left: 3.5rem;
}
.cv__experience--section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 2.5rem;
	width: 2.5rem;
	background: #4c6b8f;
	border-radius: 50%;
	z-index: 2;
}
.cv__experience--section::after {
	content: '';
	position: absolute;
	top: 0.5rem;
	left: 1rem;
	height: 100%;
	width: 0.8rem;
	background: rgba(137, 194, 243, 0.8);
	z-index: 1;
	border-radius: 0.2rem;
}
.cv__experience--section h4 {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.cv__experience--section h4 span {
	font-size: 1.2rem;
}
.cv__experience--section p {
	margin-bottom: 1rem;
	font-size: 1.4rem;
}
.cv__experience--section p::before {
	content: '✔';
	margin-right: 1rem;
}
.cv__experience--message {
	margin-top: 2rem;
	font-size: 1.3rem;
}
.cv__formation {
	margin-top: 0;
	padding-top: 0;
}
.cv__list {
	padding-left: 2rem;
	margin: 1rem;
}
.formation__container {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}
.formation svg {
	height: 2.5rem;
}
.formation {
	border: 0.5rem solid var(--color-primary-hover);
	border-radius: 1rem;
	padding: 1.5rem;
	min-height: 40rem;
}
.formation__header {
	display: flex;
	margin-bottom: 1rem;
	column-gap: 1rem;
	align-items: center;
}
.formation__header h3 {
	font-size: 1.4rem;
}
.formation__body {
	font-size: 1.4rem;
}
.h4 {
	margin: 1rem 0;
	font-weight: var(--font-600);
}
.logros {
	padding-left: 1rem;
}
/* resumen */

/* youtube */
.videos {
	padding: 0;
}
.video {
	min-height: 15rem;
	overflow: hidden;
	border-radius: 0.8rem;
	display: grid;
	grid-template: 1fr / 10rem 1fr;
	transition: linear .3s;
	transform-origin: center;
}
.video:hover {
	box-shadow: 0 0 1rem 0 var(--color-primary-light);
	transform: translate(1%, -2%);
}
.video__image {
	width: 100%;
	height: 100%;
}
.video__image img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.video__content {
	padding: 1rem;
	background: var(--color-primary-light);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.video__content--title {
	font-size: 1.6rem;
	color: #000;
	line-height: 2rem;
	margin-bottom: 1rem;
}
.video__content--info {
	font-size: 1.4rem;
	color: var(--color-light);
}
.youtube .center a {
	margin-top: 4rem;
}
/* youtube */

/* contact */
.contact .header__social {
	margin-top: 6rem;
}
.contact .header__social li {
	transform-origin: center;
	transition: .2s linear;
}
	.contact .header__social li:hover {
	transform: scale(1.2);
}
.contact__info {
	width: 100%;
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 2rem;
}
.contact__info--content p.number::after {
	content: '+51 995 807 872';
	color: var(--color-secondary);
	font-weight: var(--font-500);
	margin-left: 0.5rem;
}
/* contact */

/* footer */
.footer {
	background: var(--color-primary-light);
	padding: 2rem;
}
.footer__content {
	text-align: center;
}
.footer__content span {
	font-weight: var(--font-500);
}
/* footer */

@media screen and (min-width: 400px) {
	/* resumen */
	.cv__header--info {
		top: 35%;
	}
	.cv__header--content p {
		margin-top: 1rem;
	}
	.cv__experience {
		margin-top: 15%;
	}
	.formation {
		padding: 3rem 2.5rem;
	}
	.cv__formation,
	.cv__language {
		margin-top: 2rem;
	}
	.info__content {
		align-items: center;
	}
	/* resumen */
}

@media screen and (min-width: 500px) {
	section {
		padding: 3rem;
	}
	/* presentacion */
	.presentation__title {
		font-size: 4.5rem;
		letter-spacing: 0.5rem;
	}
	.presentation__info {
		font-size: 2rem;
		letter-spacing: 0.2rem;
	}
	.presentation__enlaces {
		flex-direction: row;
		-moz-column-gap: 4rem;
		column-gap: 4rem;
	}
	/* presentacion */

	/* feature */
	.feature__list {
		grid-template-columns: repeat(2, 1fr);
	}
	/* feature */

	/* work */
	.filtro__container--item {
		top: 100%;
		padding: 0.5rem 1rem;
	}
	/* work */

	/* resumen */
	.formation__header h3 {
		font-size: 1.6rem;
	}
	.cv__header--info {
		width: 80%;
		max-width: 30rem;
		padding: 3rem 0;
	}
	.cv__header--content h1 {
		font-size: 3rem;
	}
	.cv__header--content p {
		font-size: 1.6rem;
	}
	.formation__container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.formation {
		width: 48%;
	}
	.cv__list--items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.cv__list--items li {
		width: 48%;
	}
	.cv__header--content p {
		width: 90%;
		margin: 0 auto;
	}
	/* resumen */

	/* youtube */
	.video {
		min-height: 15rem;
		grid-template: 1fr / 15rem 1fr;
	}
	.video__content {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	/* youtube */
}

@media screen and (min-width: 600px) {
	/* skills */
	.skills {
		justify-content: space-between;
	}
	.skill {
		width: 48%;
	}
	/* skills */

	/* work -- youtube */
	.work,
	.video {
		width: 100%;
	}
	/* work -- youtube */

	/* contact */
	.contact .header__social {
		column-gap: 4rem;
	}
	/* contact */
}

@media screen and (min-width: 700px) {
	/* presentation */
	.presentation__portada {
		position: absolute;
		right: 0;
		bottom: 4rem;
	}
	.presentation__description {
		width: 70%;
	}
	/* presentation */

	/* skills */
	.skill {
		width: 47%;
	}
	/* skills */

	/* contact */
	.contact__info {
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 4rem;
	}
	.contact__info--content {
		width: 47%;
	}
	/* contact */
}

@media screen and (min-width: 900px) {
	section {
		padding: 4rem;
	}

	.menu__icon {
		display: none;
	}

	/* header */
	.header {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		justify-content: start;
		row-gap: 4rem;
	}

	.header__cv {
		width: 18rem;
		height: 4rem;
	}

	.header__info {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		align-items: center;
		margin-top: 8rem;
	}
	.header__info--profile {
		height: 15rem;
		width: 15rem;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 0 0 1rem 0.5rem var(--color-primary-light);
	}
	.header__info--profile img {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.header__info--title {
		font-size: 2rem;
	}
	.header__info--description {
		font-size: 1.4rem;
		text-align: center;
	}

	.header__social {
		order: initial;
	}

	.header__nav {
		margin-top: 0;
	}
	.header__nav--item a {
		flex-direction: row;
		-moz-column-gap: 1rem;
		column-gap: 1rem;
	}
	.header__nav--item a img {
		margin-bottom: 0;
		height: 2.5rem;
		width: 2.5em;
	}
	/* header */

	/* main */
	.main,
	.footer {
		margin-left: 32rem;
	}
	/* main */

	/* presentation */
	.presentation__description {
		width: 65%;
	}
	/* presentation */

	/* youtube */
	.work,
	.video {
		width: 100%;
	}
	/* youtube */
}

@media screen and (min-width: 1000px) {
	section {
		padding: 4.5rem;
	}

	/* presentation */
	.presentation__portada {
		bottom: 2rem;
	}
	.presentation__portada img {
		height: 35rem;
		-webkit-filter: drop-shadow(0 0 2rem var(--color-dark));
		filter: drop-shadow(0 0 2rem var(--color-dark));
	}
	/* presentation */

	/* resumen */
	.cv {
		padding-bottom: 4rem;
	}
	/* resumen */
}

@media screen and (min-width: 1100px) {
	/* youtube */
	.work,
	.video {
		width: 47%;
	}
	/* youtube */
}

@media screen and (min-width: 1200px) {
	/* presentation */
	.presentation__description {
		width: 70%;
	}
	/* presentation */

	/* feature */
	.feature__list {
		grid-template-columns: repeat(3, 1fr);
	}
	/* feature */

	/* work */
	.filtro__container {
		width: 75%;
		margin: 0 auto;
	}
	/* work */

	/* resumen */
	.cv__header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-bottom: 2rem;
		height: 40rem;
	}
	.cv__header--info {
		top: 25%;
	}
	.cv__header--content {
		width: 50%;
	}
	.cv__header--content h1,
	.cv__header--content p {
		text-align: left;
		padding-left: 6rem;
	}
	.cv__header--content p {
		margin: 0;
		margin-top: 2rem;
	}
	.cv__header--info {
		left: 80%;
	}
	.cv__experience {
		margin-top: 4%;
	}
	.cv__experience {
		padding-left: 6rem;
		padding-right: 6rem;
	}
	.cv__formation,
	.cv__language {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	.formation__container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.info__content {
    align-items: flex-start;
    padding-left: 3rem;
	/* resumen */
}
